    </div>
  </body>
  <script type="text/javascript">
    function contact(){
      alert('Desenvolvido por Geraldo Neto\n GitHub/pzdd');
    }
    function search(){
      document.forms['myForm'].submit();
    }
  </script>
</html>
