    </div>
  </body>
  <script type="text/javascript">
    function contact(){
      alert('Desenvolvido por Geraldo Neto\n GitHub/pzdd');
    }
    $(document).ready(function(e) {
      $('#query').keyup(function(){
        $.post('/search',{pesquisa:$('#query').val()}, function(data){
          console.log(data);
          if(data != 0){
            document.getElementById("myForm").submit();
          }
        });
      });
  });
  </script>
</html>
