<!DOCTYPE html>
<html>
  <head>
    <title>Series</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  </head>
  <body>
    <h1>Series</h1>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/adicionar">New Serie</a></li>
      <li><a href="#contact" onclick="contact();">Contact</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>

    <div class="content">
