<% include ./header_unauth %>
    <form class="" action="/login" method="post">
      <label for="login">Login:</label>
      <input type="text" name="user[login]" id="login" value=""><br>
      <label for="senha">Senha:</label>
      <input type="password" name="user[senha]" id="senha" value=""><br>
      <input type="submit" value="Login"><br>
    </form>
<% include ./footer_unauth %>
